*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

/* ===========Begin header=========== */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 74px;
    background-color: white;
}

.header .container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

div .container-fluid{
    padding: 5px 40px;
}

/* ===========Begin column-left=========== */
.header .nav-column.left{
    width: 17%;
    
}

.header .nav-column{
    float: left; 
    height: 64px;   
    line-height: 64px;
}

#lg-jd{
    width: 60px;
}
/* ===========End column-left=========== */

/* ===========Begin column-center=========== */
.nav li{
    display: inline-block;
    position: relative;
}

.nav > li > a{
    color: #111111;
    font-size: 14px;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav li a{
    text-decoration: none;
    display: block;
}

.nav li:hover .subnav-convert,
.nav li:hover .subnav-vans,
.nav li:hover .subnav-adidas,
.nav li:hover .subnav-jordan,
.nav li:hover .subnav-nike{
    display: block;
}

.nav > li:hover > a,
.nav .subnav-convert li:hover a,
.nav .subnav-vans li:hover a,
.nav .subnav-adidas li:hover a,
.nav .subnav-jordan li:hover a,
.nav .subnav-nike li:hover a{
    color: #c91f28;
}

.nav .subnav-convert,
.nav .subnav-vans,
.nav .subnav-adidas,
.nav .subnav-jordan,
.nav .subnav-nike{
    display: none;
    position: absolute;
    width: 150px;
    top: 63px;
    left: 0; 
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nav .subnav-convert a,
.nav .subnav-vans a,
.nav .subnav-adidas a,
.nav .subnav-jordan a,
.nav .subnav-nike a{
    color: #111111;
    padding: 18px 18px;
    font-size: 14px;
    height: 30px;
    line-height: 40px;
    display: block;
}
/* ===========End column-center=========== */

/* ===========Begin column-right=========== */
.header .nav-column.right{
    width: 23%;
    position: relative;
}

.search{
    position: relative;
    width: 190px;
    margin-right: 5px;
    left: 40px;
}

.search > input{
    padding: 0 20px;
    border-radius: 40px;
    height: 40px;
    border: none;
    background-color: #f3f3f3;
    font-size: 15px;
    width: 190px;
    outline: none;
}

.search > button{
    position: absolute;
    font-size: 17px;
    border: none;
    top: 13px;
    right: 20px;
    line-height: 40px;
    border-radius: 40px;
    background-color: #f3f3f3;
}

.shopping-icon{
    position: absolute;
    top: 5px;
    right: 50px;
    font-size: 25px;
}

.sign-in1,
.shopping-icon1{
    text-decoration: none;
    color:#111111;
}

.sign-in{
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 25px;
}

/* ===========End column-right=========== */

/* ===========End header=========== */

/* ===========Begin breadcrumb=========== */
.breadcrumb{
    background-color: #EEEEEE;
    height: 40px;
    line-height: 40px;
    padding-left: 170px;
    margin-top: 74px;
}

.breadcrumb a{
    text-decoration: none;
    color: #111111;
    font-size: 13px;
}
/* ===========End breadcrumb=========== */

/* ===========Begin Content=========== */

.collection{
    max-width: 1250px;
    margin: 0 auto;
}

.headline{
    margin-top: 40px;
    padding-left: 15px;
}

.headline h3{
    font-size: 15px;
    color: #111111;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
}

ul.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 30px;
}

ul.products li{
    flex-basis: 25%;
    padding: 0 15px;
    box-sizing: border-box;
    margin-bottom: 60px;
}

ul.products li img{
    max-width: 100%;
    height: auto;
}

ul.products li .product-info a{
    display: block;
    text-decoration: none;
}

ul.products li .product-info a.product-name{
    color: #111111;
    padding: 3px 0;
}

ul.products li .product-info a.product-price{
    padding: 3px 0;
    color: #111111;
    font-weight: 600;
}

/* ===========Begin List-Page=========== */
.list-page{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 50%;
    margin: 0px auto;
    height: 80px;
}

.page a{
    text-decoration: none;
    color:#fff;
    background-color:#111111 ;
    margin: 0 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-page .page:hover a{
    color:#111111;
    background-color: #f5f6f6;
    border: 1px solid;
}

.page1{
    color: #c91f28;
}

/* ===========End List-Page=========== */
/* ===========End Content=========== */

/* ===========Begin Footer=========== */
.footer{
    width: 100%;
    height: 320px;
    background-color:#111111;
    margin-top: 50px;
}

.footer-body{
    display: flex;
    justify-content: space-between;
    padding: 70px 200px;
}

.footer-container{
    width: 200px;    
}

.footer-list{
    list-style-type: none;
    display: block;
}

.footer-heading{
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.footer-list .footer-item{
    padding-top: 12px;
}

.footer-list .footer-item a{
    text-decoration: none;
    color:#bebebe;
    font-size: 14px;
}

.footer-item .footer-item-link{
    width: 20px;
}

/* ===========End Footer=========== */
