*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

/* ===========Begin header=========== */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 74px;
    background-color: white;
}

.header .container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

div .container-fluid{
    padding: 5px 40px;
}

/* ===========Begin column-left=========== */
.header .nav-column.left{
    width: 17%;
    
}

.header .nav-column{
    float: left; 
    height: 64px;   
    line-height: 64px;
}

#lg-jd{
    width: 60px;
}
/* ===========End column-left=========== */

/* ===========Begin column-center=========== */
.nav li{
    display: inline-block;
    position: relative;
}

.nav > li > a{
    color: #111111;
    font-size: 14px;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav li a{
    text-decoration: none;
    display: block;
}

.nav li:hover .subnav-convert,
.nav li:hover .subnav-vans,
.nav li:hover .subnav-adidas,
.nav li:hover .subnav-jordan,
.nav li:hover .subnav-nike{
    display: block;
}

.nav > li:hover > a,
.nav .subnav-convert li:hover a,
.nav .subnav-vans li:hover a,
.nav .subnav-adidas li:hover a,
.nav .subnav-jordan li:hover a,
.nav .subnav-nike li:hover a{
    color: #c91f28;
}

.nav .subnav-convert,
.nav .subnav-vans,
.nav .subnav-adidas,
.nav .subnav-jordan,
.nav .subnav-nike{
    display: none;
    position: absolute;
    width: 150px;
    top: 63px;
    left: 0; 
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nav .subnav-convert a,
.nav .subnav-vans a,
.nav .subnav-adidas a,
.nav .subnav-jordan a,
.nav .subnav-nike a{
    color: #111111;
    padding: 18px 18px;
    font-size: 14px;
    height: 30px;
    line-height: 40px;
    display: block;
}
/* ===========End column-center=========== */

/* ===========Begin column-right=========== */
.header .nav-column.right{
    width: 23%;
    position: relative;
}

.search{
    position: relative;
    width: 190px;
    margin-right: 5px;
    left: 40px;
}

.search > input{
    padding: 0 20px;
    border-radius: 40px;
    height: 40px;
    border: none;
    background-color: #f3f3f3;
    font-size: 15px;
    width: 190px;
    outline: none;
}

.search > button{
    position: absolute;
    font-size: 17px;
    border: none;
    top: 13px;
    right: 20px;
    line-height: 40px;
    border-radius: 40px;
    background-color: #f3f3f3;
}

.shopping-icon{
    position: absolute;
    top: 5px;
    right: 50px;
    font-size: 25px;
}

.sign-in1,
.shopping-icon1{
    text-decoration: none;
    color:#111111;
}

.sign-in{
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 25px;
}
/* ===========End column-right=========== */

/* ===========End header=========== */

/* ===========Begin breadcrumb=========== */
.breadcrumb{
    background-color: #EEEEEE;
    height: 40px;
    line-height: 40px;
    padding-left: 170px;
    margin-top: 74px;
}

.breadcrumb a{
    text-decoration: none;
    color: #111111;
    font-size: 13px;
}
/* ===========End breadcrumb=========== */

/* ===========Begin information=========== */
.information{
    margin-top: 80px;
}

.container{
    margin: auto;
    display: grid;
    width: 650px;
    grid-template-columns: 300px 350px;
    grid-template-rows: 400px;
    grid-template-areas:
        'leftcol rightcol'; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.leftcol{
    grid-area: leftcol;  
    background-color:#222222;
    padding-top: 40px;
}

.rightcol{
    grid-area: rightcol;  
    background-color: #fff;
}

.container .leftcol .hinh1{
    width: 200px;
    display: block;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 99em;
    border: 5px solid silver;
}

.name{
    color: #fff;
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.title{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    /* padding-top: 35px; */
    background-color: #DDDDDD;
    color:#111111;
    height: 80px;
    line-height: 80px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.contact{
    list-style-type: none;
    color: #111111;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 20px;
}

.contact1{
    padding-top: 20px;
}

.contact2{
    font-weight: bold;
}

/* ===========End information=========== */

/* ===========Begin Footer=========== */
.footer{
    width: 100%;
    height: 320px;
    background-color:#111111;
    margin-top: 50px;
}

.footer-body{
    display: flex;
    justify-content: space-between;
    padding: 70px 200px;
    margin-top: 100px;
}

.footer-container{
    width: 200px;    
}

.footer-list{
    list-style-type: none;
    display: block;
}

.footer-heading{
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.footer-list .footer-item{
    padding-top: 12px;
}

.footer-list .footer-item a{
    text-decoration: none;
    color:#bebebe;
    font-size: 14px;
}

.footer-item .footer-item-link{
    width: 20px;
}

/* ===========End Footer=========== */